async-lru
aiohttp>=3.9.0
aiofiles
beautifulsoup4==4.9.3
bs4==0.0.1
certifi
charset-normalizer
cloudscraper
idna
mutagen
psutil
PySocks
pyrogram==2.0.106
pyromod==1.5
py-tgcalls==0.6.0
pycryptodome==3.18.0
pyaes==1.6.1
python-dotenv==1.0.0
pytz
requests==2.31.0
soupsieve
speedtest-cli
TgCrypto==1.2.5
urllib3==2.0.3
websockets==11.0.3
yt-dlp==2023.6.22
umongo==3.1.0
motor
pymediainfo
